extracted_idempotentfilter_project/META-INF/mule-src/idempotentfilter_project/src/main/mule/idempotentfilter_project.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:os="http://www.mulesoft.org/schema/mule/os" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="304886af-d630-439c-9d8c-76f67c9934df" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<os:config name="ObjectStore_Config" doc:name="ObjectStore Config" doc:id="add85529-3d33-4e17-87bf-b69eb1eb5d34" />
	<os:object-store name="Object_store" doc:name="Object store" doc:id="996a230a-1fb8-4d99-b1ce-3e2171bc5d39" entryTtl="10" expirationInterval="10" expirationIntervalUnit="SECONDS" config-ref="ObjectStore_Config" />
	<flow name="idempotentfilter_projectFlow" doc:id="37acb05d-b53b-4ff6-8c49-a95ae9327ffe" >
		<http:listener doc:name="Listener Get /test" doc:id="02c6e631-980e-4862-835a-7be2a24f7a39" config-ref="HTTP_Listener_config" path="test">
			<http:error-response >
				<http:body ><![CDATA[#[payload]]]></http:body>
			</http:error-response>
		</http:listener>
		<set-variable value="#[attributes.queryParams.transactionId]" doc:name="Set Variable" doc:id="be67e45c-6817-4578-9549-4fd935b990df" variableName="tid"/>
		<idempotent-message-validator doc:name="Idempotent Message Validator" doc:id="544121f1-bfdb-4add-bfcc-6d9073a06326" idExpression="#[%dw 2.0&#10;import dw::Crypto&#10;output application/octet-stream&#10;---&#10;Crypto::hashWith(vars.tid as String,'MD5')]" objectStore="Object_store">
		</idempotent-message-validator>
		<ee:transform doc:name="Transform Message" doc:id="f0bbb8a0-5dd6-45d1-a431-3c7b5cd97900" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message": "Transaction-Id Validated Successfully."
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="579cec1f-ee6f-41c4-b66d-56a8d8fd6b13" >
				<ee:transform doc:name="Transform Message" doc:id="b7974b5f-5241-4e82-9375-7c243c7f5e17" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message": "MULE:DUPLICATE_MESSAGE FOUND"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
</mule>
